<h1>Lookup Committees</h1>
<form>
  <select onchange={{action 'committeeLookup' value="target.value"}}>
    <option value="null">Select A Committee Chamber</option>
    <option value="all">All</option>
    <option value="senate">Senate</option>
    <option value="house">House</option>
    <option value="joint">Joint</option>
  </select>
</form>
