<div class="jumbotron">
  <h2 class="text-center">Enlightened Citizenry</h2>
  <p class="container">
    <em>"An enlightened citizenry is indispensable for the proper functioning of a republic. Self-government is not possible unless the citizens are educated sufficiently to enable them to exercise oversight."</em> -Thomas Jefferson
  </p>
</div>
<br>
<div class="container">
  {{outlet}}
</div>
