<div class="row">
  <div class="col-sm-4 well bill-well">
    <h3 class="text-center">~Recent Bills~</h3>
    <hr>
    <ul>
      {{#each model.recentBills as |bill|}}
        <li>{{bill-list bill=bill}}</li>
        <hr>
      {{/each}}
    </ul>
  </div>

  <div class="col-sm-4 well bill-well">
    <h3 class="text-center">~House Bills~</h3>
    <hr>
    <ul>
      {{#each model.houseBills as |bill|}}
        <li>{{bill-list bill=bill}}</li>
        <hr>
      {{/each}}
    </ul>
  </div>

  <div class="col-sm-4 well bill-well">
    <h3 class="text-center">~Senate Bills~</h3>
    <hr>
    <ul>
      {{#each model.senateBills as |bill|}}
        <li>{{bill-list bill=bill}}</li>
        <hr>
      {{/each}}
    </ul>
  </div>

</div>
