<div class="row">
  <div class="col-sm-6">
    {{lookup-form zipLookup="zipLookup"}}
  </div>
  <div class="col-sm-6">
    {{committee-lookup committeeLookup="committeeLookup"}}
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    {{bill-lookup billLookup="billLookup"}}
  </div>
  <div class="col-sm-6">

  </div>
</div>
